.brokerArtCard{
    margin-bottom: 3rem;

    .brokerArtCard_img{
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 1rem;
        img{
            width: 100%;
        }
    }
}