.modal_overlay {
  position: absolute;
  left: 8px;
  bottom: -94px;
  z-index: 9;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.modal_overlay.show {
  opacity: 1;
}

.modal_main {
  position: absolute;
  width: 122px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(202, 202, 202);

  ul {
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 11px;
      padding: 3px;
      font-size: 15px;
      font-weight: lighter;
      color: rgb(108, 108, 108);

      .arrows {
        display: flex;
        flex-direction: column;

        .upArrow{
            margin-bottom: -9px;
        }
      }
    }
  }
}
