#accountActivation {
  .accountActivation {
    background-color: #fff;
    margin: 4rem 0;
    padding: 2rem;
    .aact_heading {
      font-size: 40px;
      font-weight: bold;
      color: #000;
      line-height: 48px;
      margin-bottom: 20px;
    }

    .aact_down {
      h5 {
        font-size: 16px;
        line-height: 28px;
        font-weight: bold;
      }

      .acct_btn{
        text-align: center;
        padding: 1.5rem 0;

        button{
            border: 0;
            border-radius: 3px;
            background-color: var(--red-color);
            color: #fff;
            padding: 8px;
            font-size: 18px;
            font-weight: bold;
        }
      }
    }
  }
}
